<!-- 조건을 추가하여 검색 -->
<!-- 일감제목 -->
<div th:fragment="JobTitleField" class="col-md-3 condition-field d-none"
	id="field-jobTitle">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">일감 제목</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-jobTitle"></button>
		</div>
		<input type="text" name="title" class="form-control form-control-sm"
			placeholder="일감 제목을 입력하세요">
	</div>
</div>
<!-- 일감상태 value option 사용해서 다시-->
<div th:fragment="JobStatusField" class="col-md-3 condition-field d-none"
	id="field-jobStatusNo">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">일감 상태</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-jobStatusNo"></button>
		</div>
		<select name="jobStatusNo" class="form-select">
		<option value="">선택</option>
		<option th:each="status : ${statusList}"
					th:value="${status.jobStatusNo}"
					th:text="${status.jobStatus}"></option>
	   </select>
	</div>
</div>

<!-- 일감 유형 -->
<div th:fragment="JobTypeField" class="col-md-3 condition-field d-none"
	id="field-jobTypeNo">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">일감 유형</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-jobTypeNo"></button>
		</div>
		<select name="jobTypeNo" class="form-select">
		<option value="0">선택</option>
		<option th:each="type : ${typeList}"
					th:value="${type.jobTypeNo}"
					th:text="${type.jobType}"></option>
	   </select>
	</div>
</div>

<!-- 우선순위 value option 사용해서 다시-->
<div th:fragment="JobPriorityField" class="col-md-3 condition-field d-none"
	id="field-priority">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">우선순위</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-priority"></button>
		</div>
		<select name="priority" class="form-select">
		<option value="0">선택</option>
		<option th:each="priority : ${priorityList}"
					th:value="${priority.commonNo}"
					th:text="${priority.commonName}"></option>
	   </select>
	
	</div>
</div>

<!-- 일감 담당자 -->
<div th:fragment="WorkersField" class="col-md-3 condition-field d-none"
	id="field-username">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">담당자</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-username"></button>
		</div>
		<input type="text" name="username" class="form-control form-control-sm"
			placeholder="담당자를 입력하세요">
	</div>
</div>
<!-- 시작 날짜 -->
<div th:fragment="JobStartDateField" class="col-md-3 condition-field d-none"
	id="field-startDate">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">시작 날짜</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-startDate"></button>
		</div>
		<input type="text" name="startDate"
			class="form-control form-control-sm datepicker"
			placeholder="시작 날짜를 선택하세요">
	</div>
</div>
<!-- 마감 날짜 -->
<div th:fragment="JobEndDateField" class="col-md-3 condition-field d-none"
	id="field-endDate">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">마감 날짜</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-endDate"></button>
		</div>
		<input type="text" name="endDate"
			class="form-control form-control-sm datepicker"
			placeholder="마감 날짜를 선택하세요">
	</div>
</div>
<!-- 진척도 -->
<div th:fragment="JobProgress"
	class="col-md-3 condition-field d-none" id="field-progress">
	<div class="card card-body bg-light shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">진척도</label>
			<button type="button" class="btn-close btn-remove"
				data-target="field-progress"></button>
		</div>
		<input type="text" name="progress"
			class="form-control form-control-sm" placeholder="10단위로 입력">
	</div>
</div>

