<th:block th:fragment="IssueUpdateModal">
	<!-- 확인 Modal -->
	<div class="modal fade" id="issueUpdateModal" tabindex="-1" aria-labelledby="issueUpdateModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="issueUpdateModalLabel">재확인</h5>
				</div>

				<div class="modal-body">수정하시겠습니까?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="updateSubmit">확인</button>
				</div>
			</div>
		</div>
	</div>
</th:block>
