<th:block th:fragment="IssueSubmitModal">
	<!-- 확인 Modal -->
	<div class="modal fade" id="issueSubmitModal" tabindex="-1" aria-labelledby="issueSubmitModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="issueSubmitModalLabel">재확인</h5>
				</div>

				<div class="modal-body">일감을 등록 하시겠습니까?</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="confirmSubmit">확인</button>
				</div>
			</div>
		</div>
	</div>

</th:block>