<!-- 담당자 선택 Modal -->
<th:block th:fragment="IssueSelectModal">
	<link rel="stylesheet" th:href="@{/css/modal.css}" />
	<div class="modal fade" id="issueSelectModal" tabindex="-1"
		aria-labelledby="issueSelectModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="issueSelectModalLabel">상위일감 선택</h5>
				</div>

				<div class="modal-body">
					<!-- 추후 등록된 일감 목록을 DB에서 가져와야한다 -->
					<ul class="list-group">
						<li th:each="list : ${parentIssueList}" class="list-group-item job-item"
						style="cursor: pointer;"
						th:data-id="${list.jobNo}">
						<span th:text="${list.title}"></span></li>
					</ul>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
</th:block>
