<!-- 담당자 선택 Modal -->
<th:block th:fragment="UserSelectModal">
<div class="modal fade" id="userSelectModal" tabindex="-1"
        aria-labelledby="userSelectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userSelectModalLabel">담당자 선택</h5>
                </div>
                
                <div class="modal-body">
                    <ul class="list-group">
                        <li th:each="manager : ${managerList}" 
                            class="list-group-item user-item" 
                            style="cursor: pointer;"
                            th:data-id="${manager.userId}" 
                            th:data-name="${manager.username}">
                            <!-- 실제 담당자 이름이 표시되는 곳 -->
                            <span th:text="${manager.username}"></span>
                            <input type="hidden" th:value="${manager.userId}"/>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
