<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.setting.roles.mapper.RolesMapper">

<select id="selectAllRoles" resultType="com.pms.setting.roles.vo.RolesVO">
    SELECT ROLE_NO AS roleNo, ROLE_NAME AS roleName
    FROM ROLES
    ORDER BY ROLE_NO ASC
</select>

<select id="searchRoles" resultType="com.pms.setting.roles.vo.RolesVO">
    SELECT ROLE_NO AS roleNo, ROLE_NAME AS roleName
    FROM ROLES
    WHERE ROLE_NAME LIKE '%' || #{keyword} || '%'
    ORDER BY ROLE_NO ASC
</select>

<insert id="insertRole" parameterType="com.pms.setting.roles.vo.RolesVO">
    <selectKey keyProperty="roleNo" resultType="long" order="BEFORE">
        SELECT ROLE_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO ROLES (
        ROLE_NO,
        ROLE_NAME
    ) VALUES (
        #{roleNo},
        #{roleName}
    )
</insert>

<delete id="deleteRolePermissions">
    DELETE FROM CRUD WHERE ROLE_NO = #{roleNo}
</delete>

<delete id="deleteRole">
    DELETE FROM ROLES WHERE ROLE_NO = #{roleNo}
</delete>

</mapper>