<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/dynamic-search.css}" />
<link rel="stylesheet" th:href="@{/css/modal.css}">
<!-- Bootstrap5 icon사용 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />

<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>

<title>소요시간 전체 조회</title>
</head>
<body>
	<div class="container">
		<div class="mb-4 mt-3">
			<h3 class="fw-bold">
				<span th:text="${project.projectName}" class="text-primary"></span>
				<small class="text-muted">의 소요시간 전체 목록</small>
			</h3>
		</div>

		<!-- 검색조건 form  -->
		<form
			th:action="@{/project/user/{projectCode}/issue/work/list/read(projectCode=${projectCode})}"
			method="get" id="searchForm">
			<!-- 검색조건 입력 영역 -->
			<div id="dynamicSearch" class="row g-3 mb-3">
				<div th:replace="~{common/fragments/work/dynamic-work-list-search}"></div>
			</div>

			<!-- 검색조건 추가 버튼 + 조회 버튼 -->
			<div class="mb-3 d-flex align-items-center justify-content-end gap-2">
			<!-- 내 소요시간만 보기 toggleMyWork(this) 함수 -->
				<div class="form-check form-switch mb-0">
					<input class="form-check-input"
						 type="checkbox" 
						 id="showOnlyMe"
						 name="showOnlyMe" 
						 value="Y" 
						 th:checked="${showOnlyMe == 'Y'}"
						 onchange="toggleMyWork(this)"
						 autocomplete="off" />
						<!-- checked는 서버에 넘어온 데이터에 따라 체크박스 체크하느냐 마느냐
						그리고 내 소요시간만 보기 누르면 바로 동적쿼리 작동 -->
					<label class="form-check-label" for="showOnlyMe">내 소요시간만 보기</label>
				</div>
				<!-- dropdown 영역 -->
				<div class="dropdown me-2">
					<button class="btn btn-secondary dropdown-toggle" 
								 type="button"
								data-bs-toggle="dropdown">검색조건 추가</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item add-condition" href="#"
									data-target="field-jobTitle">일감제목</a></li>
						<li><a class="dropdown-item add-condition" href="#"
										data-target="field-workers">담당자</a></li>
						<li><a class="dropdown-item add-condition" href="#"
									data-target="field-workDate">작업일시</a></li>
						<li><a class="dropdown-item add-condition" href="#"
									data-target="field-workType">작업분류</a></li>
						<li><a class="dropdown-item add-condition" href="#"
									data-target="field-workContent">작업내용</a></li>
					</ul>
				</div>
				<!-- 조회 버튼 -->
				<button type="submit" class="btn btn-primary">소요시간 조회</button>
				<!-- 소요시간 관련 보고서로 이동 -->
				<a th:href="@{/project/user/{projectCode}/issue/work/report/list/read(projectCode=${projectCode})}"
					 class="btn btn-primary text-white d-inline-flex align-items-center justify-content-center">보고서 조회</a>
				<!-- 소요시간 등록으로 이동 -->
				<a th:href="@{/project/user/{projectCode}/issue/work/create(projectCode=${projectCode})}"
					 class="btn btn-success text-white d-inline-flex align-items-center justify-content-center">소요시간등록</a>
			</div>
		</form>

		<!-- 검색 결과에 따라 소요시간 전체 조회되는 테이블 -->
		<table class="table table-hover text-center">
			<thead class="table-dark">
				<tr>
					<th><i class="bi bi-card-text me-1"></i>일감제목</th>
					<th><i class="bi bi-tags me-1"></i>작업분류</th>
					<th><i class="bi bi-calendar-check me-1"></i>작업일시</th>
					<th><i class="bi bi-clock me-1"></i>작업시간</th>
					<th><i class="bi bi-person-badge me-1"></i>담당자</th>
					<th><i class="bi bi-gear me-1"></i>수정/상세</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${workEntriesList}">
					<td th:text="${list.title}"></td>
					<td th:text="${list.workType}"></td>
					<td th:text="${#dates.format(list.workDate, 'yyyy-MM-dd')}"></td>
					<td th:text="${list.workTime}"></td>
					<td th:text="${list.username}"></td>
					<td><a th:href="@{/project/user/{projectCode}/issue/work/update(projectCode=${projectCode}, workNo=${list.workEntriesNo})}"
								 class="btn btn-sm btn-outline-primary">수정</a></td>
				</tr>
				<tr th:if="${#lists.isEmpty(workEntriesList)}">
					<td colspan="8">등록된 소요시간 내역이 없습니다</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- script -->
	<script th:src="@{/js/work/dynamicSearch.js}"></script>
</body>
</html>
