<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<!-- bootstrap-datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
<title>소요시간 등록</title>
</head>
<body>
	<div class="container">
		<form id="workInsert"
		    method="post"
			th:action="@{/project/user/{projectCode}/work/insert(projectCode=${projectCode})}">
			<!-- 해당 프로젝트의 일감번호에 대한 값을 가져옴 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label for="jobNo" class="form-label">일감선택</label> <select
						class="form-select" id="jobNo" name="jobNo">
						<option value=""></option>
						<option th:each="issue : ${issueList}" th:text="${issue.title}"
							th:value="${issue.jobNo}" th:data-manager="${issue.managerId}"></option>
					</select>
				</div>

				<!-- 해당 일감 담당자의 정보를 자동으로 불러옴 -->
				<div class="col-md-6">
					<label class="form-label">담당자</label> <input type="text"
						class="form-control" id="workers" name="workers" readonly />
				</div>
			</div>

			<div class="row mb-3">
				<!-- 작업일자 -->
				<div class="col-md-6">
					<label class="form-label">작업일자</label><input type="text"
						class="form-control datepicker" id="workDate" name="workDate"
						placeholder="실제 근무한 날짜 선택" readonly />
				</div>

				<!-- 근무시간 -->
				<div class="col-md-6">
					<label class="form-label">근무한 시간</label><input type="number"
						class="form-control" id="workTime" name="workTime"
						placeholder="숫자만 입력" />
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label">상세 설명</label>
				<div class="form-floating">
					<textarea class="form-control" id="workContent"
						style="height: 100px" name="workContent"></textarea>
				</div>
			</div>

			<div class="row mb-3">
				<!-- 작업분류 -->
				<div class="col-md-6">
					<label class="form-label">작업분류</label> 
					<select class="form-select" name="workDetailsNo">
						<option value="">선택</option>
						<option th:each="status : ${workType}"
							th:value="${status.workDetailsNo}" th:text="${status.workType}"></option>
					</select>
				</div>
			</div>

			<div class="row md-3">
				<!-- 소요시간 조회로 이동-->
				<div class="col-6 d-grid">
					<a
						th:href="@{/project/user/{projectCode}/work/list(projectCode=${projectCode})}"
						class="btn btn-primary text-white flex-fill">소요시간 조회</a>
				</div>
				<!-- 전송 -->
				<div class="col-6 d-grid">
					<button type="button" class="btn btn-success flex-fill text-white"
						data-bs-toggle="modal" data-bs-target="#workSubmitModal">등록</button>
				</div>

			</div>
		</form>
	</div>

	<!-- 모달 fragment 호출 ~{템플릿 재사용 fragment 호출 조각 표현식} -->
	<th:block
		th:replace="~{common/fragments/work/work-submit-modal :: WorkSubmitModal}"></th:block>

	<script th:src="@{/js/work/workInsert.js}"></script>
</body>
</html>
