<!-- 조건을 추가하여 검색 -->
<!-- 일감 th:if -->
<div th:fragment="JobReportField"
		class="col-md-3 condition-field d-none"
		id="field-job">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">일감</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						data-target="field-job"></button>
		</div>
		<!-- reportType 을 job으로 보냄 -->
		<input type="hidden" name="type" value="job" />
		<input type="text"
				   name="title" 
				   class="form-control form-control-sm"
				   placeholder="일감명을 입력하세요" />
	</div>
</div>
<!-- 사용자 -->
<div th:fragment="userReportField"
		class="col-md-3 condition-field d-none"
		id="field-username">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">담당자 이름</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
					  	 data-target="field-username"></button>
		</div>
			<!-- reportType 을 users로 보냄 -->
		<input type="hidden" name="type" value="users" /> 
		<input type="text" 
				   name="username" 
				   class="form-control form-control-sm"
				   placeholder="담당자명을 입력하세요" />
	</div>
</div>
<!-- 작업분류별 -->
<div th:fragment="workTypeReportField"
		class="col-md-3 condition-field d-none"
		id="field-workType">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">작업분류 선택</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
					  	 data-target="field-workType"></button>
		</div>
	    <input type="hidden" name="type" value="work" /> 
		<input type="text" 
				   name="workType" 
				   class="form-control form-control-sm"
				   placeholder="작업분류명을 입력하세요" />
	</div>
</div>

<!-- 프로젝트 주별 -->
<div th:fragment="WeekReportField"
		class="col-md-3 condition-field d-none" 
		id="field-projectWeek">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">주별 기준일</label>
			<!-- x버튼 -->
			<button type="button" 
						 class="btn-close btn-remove"
						data-target="field-projectWeek"></button>
		</div>
			<!-- reportType 을 week으로 보냄 -->
		<input type="hidden"  name="type" value="week" /> 
		<input type="text"
				   name="workDate"
				   class="form-control form-control-sm datepicker" />
	</div>
</div>
<!-- 프로젝트 월별 -->
<div th:fragment="MonthReportField"
		class="col-md-3 condition-field d-none"
		id="field-projectMonth">
	<div class="card card-body shadow-sm">
		<div class="d-flex justify-content-between align-items-center mb-2">
			<label class="fw-bold small">월별 기준일</label>
			<!-- x버튼 -->			
			<button type="button"
						class="btn-close btn-remove"
						data-target="field-projectMonth"></button>
		</div>
		<!-- reportType 을 month으로 보냄 -->
		<input type="hidden" name="type" value="month" /> 
		<input type="text" 
				   name="workDate" 
				   class="form-control form-control-sm datepicker" />
	</div>
</div>
