<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.work.mapper.WorkMapper">
    <!-- 소요시간 전체 조회 + 조건 검색 기능  id는 mapper 인터페이스의 method명  -->
      <!-- SELECT -->
	<select id="selectWorkEntries" resultType="WorkSelectDto">
		SELECT
		 we.work_entries_no
		 , we.workers
		 , we.work_date
		 , we.work_time
		 , we.work_content
		 , we.job_no
		 , j.title
		 , j.user_id
		 , j.manager_id
		 , p.project_name
		 , we.work_details_no
		 , wd.work_type
		 , u.username AS username
		FROM project p
		          LEFT JOIN job j
		          ON p.project_no = j.project_no
		          INNER JOIN work_entries we
		          ON j.job_no = we.job_no
		          LEFT JOIN work_details wd
		          ON we.work_details_no = wd.work_details_no
		          JOIN users u
		          ON j.user_id = u.user_id
		<where>
         p.project_code = #{projectCode}
		  <if test="userId != null">
		 AND  j.user_id = #{userId}
  		  </if>
  		  <if test="username != null">
  		  AND u.username = #{username}
  		  </if>
		  <if test="jobNo != null and jobNo != 0">
		 AND we.job_no = #{jobNo}
		  </if>
		  <if test="title !=null and title !=''">
		  AND j.title LIKE '%' || #{title} || '%'
		  </if>
		  <if test="workers !=null and workers !=''">
		   AND we.workers = #{workers}
		  </if>
		  <if test="workDate !=null">
		  AND we.work_date = #{workDate}
		  </if>
		  <if test="workDetailsNo !=null and workDetailsNo !=''">
		  AND we.work_details_no = #{workDetailsNo}
		  </if>
		  <if test="workContent !=null and workContent !=''">
		  AND we.work_content LIKE '%' || #{workContent} || '%'
		  </if>
		</where>
		ORDER BY 
		  we.work_entries_no DESC
	</select>
	
	<!-- INSERT -->
	<!-- 소요시간 등록에서 사용할 일감 조회 -->
	<select id="selectIssueInProject" resultType="WorkInsertDto">
	    SELECT
	      j.job_no AS jobNo
	      , j.title
	      , p.project_code AS projectCode
	      , u.username
	      , u.user_id
	    FROM job j
	    JOIN project p
	    ON j.project_no = p.project_no
	    JOIN users u
	    ON j.user_id = u.user_id
	    WHERE
	      p.project_code = #{projectCode}
	      AND j.user_id = #{userId}
	</select>
	<!-- 소요시간 등록에서 사용할 작업분류 조회 -->
	<select id="selectWorkDetails" resultType="workInsertDto">
	    SELECT 
	      work_details_no AS workDetailsNo
	      , work_type AS workType
	    FROM
	      work_details
	</select>
	<!-- 소요시간 등록 INSERT 파라미터 타입이 WorkInsertDto 객체 하나다! -->
	<insert id="insertWorkEntries" parameterType="WorkInsertDto">
		INSERT INTO work_entries
		(
		work_entries_no
		, workers
		, work_date
		, work_time
		, work_content
		, job_no
		, work_details_no
		)
		VALUES
		(
		work_entries_seq.NEXTVAL
		, #{workers}
		, #{workDate}
		, #{workTime}
		, #{workContent}
		, #{jobNo}
		, #{workDetailsNo}
		)
	</insert>
	
	<!-- UPDATE -->
	<!-- 소요시간 수정화면 서버에서 만들어진 html을 보내기 위해 -->
	<select id="selectWorkEntriesByNo" resultType="WorkUpdateDto">
	    SELECT
	      we. work_entries_no AS workEntriesNo
	      , we.job_no AS jobNo
	      , j.title
	      , we.workers
	      , we.work_date AS workDate
	      , we.work_time AS workTime
	      , we.work_content AS workContent
	      , we.work_details_no AS workDetailsNo
	      , wd.work_type AS workType
	      , u.username
	      , u.user_id
	    FROM work_entries we
	    LEFT JOIN job j
	    ON we.job_no = j.job_no
	    JOIN users u
	    ON j.user_id = u.user_id
	    LEFT JOIN work_details wd
	    ON we.work_details_no = wd.work_details_no
	    WHERE
	      we.work_entries_no = #{workEntriesNo}
	</select>
  <!-- 소요시간 수정 UPDATE 파라미터 타입이 WorkUpdateDto 객체 하나다!
	추후에 권한 기능 넣음 -->
	<update id="updateWorkEntries" parameterType="WorkUpdateDto">
	    UPDATE work_entries
	    SET
	          work_date = #{workDate}
	        , work_time = #{workTime}
	        , work_content = #{workContent}
	        , work_details_no = #{workDetailsNo}
	    WHERE
	          work_entries_no = #{workEntriesNo}
	</update>
	
	<!-- REPORT -->
	<!-- 일감별 소요시간 보고서 -->
	<select id="selectJobReport" resultType="WorkReportDto">
	   SELECT
            p.le
          , p.project_name AS projectName
          , j.title AS title
          , j.manager_id AS managerId
          , j.job_no AS jobNo
          , j.start_date AS startDate
          , j.end_date AS endDate
          , get_working_days(j.start_date, j.end_date) AS workDays
          , NVL(SUM(we.work_time), 0) AS realWorkTime
          , get_working_days(j.start_date, j.end_date) * 8 AS estimatedTime
        FROM
            vw_project p
        JOIN (SELECT DISTINCT project_no, user_id FROM vw_member) m
            ON p.project_no = m.project_no
            AND m.user_id = #{userId}
        JOIN job j 
             ON p.project_no = j.project_no
        LEFT JOIN work_entries we 
            ON j.job_no = we.job_no
            <where>
             AND p.project_code = #{projectCode}
                <if test="jobNo != null and jobNo !=0">
                    AND j.job_no = #{jobNo}
                </if>
                <if test="title != null and title != ''">
                    AND j.title LIKE '%' || #{title} || '%'
                </if>
            </where>
        GROUP BY
            p.le
            , p.project_name
            , j.job_no, j.title
            , j.manager_id
            , j.start_date
            , j.end_date
        ORDER BY
            p.le, p.project_name
	</select>

	<!-- 사용자별 소요시간 보고서 
	로그인한 유저가 해당 프로젝트 멤버인지 확인 (EXISTS로 중복 방지) *-->
	<select id="selectUserReport" resultType="WorkReportDto">
	  SELECT
              j.manager_id AS managerId
            , u.username  AS username
            , p.project_name AS projectName
            , p.le 
            , j.title AS title
            , j.start_date AS startDate
            , j.end_date AS endDate
            , get_working_days(j.start_date, j.end_date) AS workDays
            , NVL(SUM(we.work_time), 0) AS realWorkTime
            , get_working_days(j.start_date, j.end_date) * 8 AS estimatedTime
        FROM 
            vw_project p
        JOIN job j 
            ON p.project_no = j.project_no
        LEFT JOIN users u
            ON j.user_id = u.user_id
        LEFT JOIN work_entries we 
            ON j.job_no = we.job_no
        LEFT JOIN work_details wd
            ON we.work_details_no = wd.work_details_no          
        WHERE EXISTS (
        			SELECT
        					  1
        		    FROM
        		      vw_member vw
        		    WHERE  
        		      vw.project_no = p.project_no
        		      AND vw.user_id = #{userId}
        						)
        AND p.project_code = #{projectCode}
        		 <if test="username != null">
        		     AND u.username = #{username}
        		 </if>
                 <if test="workType != null and workType != ''">
                     AND wd.work_type = #{workType}
                 </if>
                 <if test="workDate != null">
                     AND we.work_date = #{workDate}
                 </if>    
        GROUP BY 
              p.project_name
            , p.le
            , u.username 
            , j.manager_id
            , j.title
            , j.start_date
            , j.end_date
        ORDER BY 
            p.le ASC, p.project_name ASC
	</select>
	
	<!-- 주별 소요시간 보고서
	오라클에서 'IW' (ISO Week) 기준은 한 주가 월요일에 시작해서 일요일에 끝납니다.
    TRUNC(we.work_date, 'IW'): 해당 주차의 월요일 00:00:00
    + 6: 월요일로부터 6일이 지나면 일요일 -->
	<select id="selectWeekReport" resultType="WorkReportDto">
	  SELECT
              LPAD(' ', (p.le - 1) * 4) || p.project_name AS projectName
            , wd.work_type AS workType
            , MIN(TRUNC(we.work_date, 'IW')) AS startDate 
            , MIN(TRUNC(we.work_date, 'IW')) + 6 AS endDate
            , TO_CHAR(we.work_date, 'YYYY-MM') || ' ' || TO_CHAR(we.work_date, 'W') || '번째 주' AS workWeek
            , SUM(we.work_time) AS realWorkTime
            , (get_working_days(MIN(TRUNC(we.work_date, 'IW')), MIN(TRUNC(we.work_date, 'IW')) + 6) * 8) AS averageTime
        FROM
          vw_project p
        JOIN job j
          ON p.project_no = j.project_no
       LEFT JOIN work_entries we
          ON j.job_no = we.job_no
        JOIN work_details wd
          ON we.work_details_no = wd.work_details_no
        WHERE EXISTS (
                    SELECT 
                              1
                    FROM
                      vw_member m
                    WHERE
                      m.project_no = p.project_no
                    AND m.user_id = #{userId}
      							  )  
            <if test="projectCode != null">
              AND p.project_code = #{projectCode}            
            </if>  
        GROUP BY 
            p.le
            , p.project_no
            , p.project_name
            , wd.work_type
            , TO_CHAR(we.work_date, 'YYYY-MM') || ' ' || TO_CHAR(we.work_date, 'W') || '번째 주'
            , TRUNC(we.work_date, 'IW')
        ORDER BY 
              workWeek DESC
	</select>
	<!-- 월별 소요시간 보고서 -->
	<select id="selectMonthReport" resultType="WorkReportDto">
    SELECT
          LPAD(' ', (p.le - 1) * 4) || p.project_name AS projectName
        , wd.work_type AS workType
        , TRUNC(MIN(we.work_date), 'MM') AS startDate
        , LAST_DAY(MIN(we.work_date)) AS endDate
        , TO_CHAR(we.work_date, 'YYYY-MM') AS workMonth
        , SUM(we.work_time) AS realWorkTime
        , (get_working_days(TRUNC(MIN(we.work_date), 'MM'), LAST_DAY(MIN(we.work_date))) * 8) AS averageTime
    FROM 
        vw_project p
    JOIN job j ON p.project_no = j.project_no
    JOIN work_entries we ON j.job_no = we.job_no
    JOIN work_details wd ON we.work_details_no = wd.work_details_no
    WHERE EXISTS (
        SELECT 1 FROM vw_member m 
        WHERE m.project_no = p.project_no 
          AND m.user_id = #{userId}
    )
    <if test="projectCode != null">
      AND p.project_code = #{projectCode}
    </if>
    GROUP BY
          p.le
        , p.project_no
        , p.project_name
        , wd.work_type
        , TO_CHAR(we.work_date, 'YYYY-MM')
    ORDER BY
          workMonth DESC
</select>
</mapper>