<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.issue.mapper.IssueMapper">
	<!-- 일감 전체 조회 + 조건 검색 기능 -->
	<select id="selectIssue" resultType="IssueSelectDto">
		SELECT job_no AS jobNo
		           , j.title
                   , p.project_name
                   , p.project_code
                   , j.job_status_no
                   , j.job_type_no
                   , j.priority
		           , FN_GET_JOB_STATUS(j.job_status_no) AS job_status_name
                   , FN_GET_JOB_TYPE(j.job_type_no) AS job_type_name
                   , FN_GET_CODE_NAME(j.priority) AS priority_name
		           , j.manager_id
		FROM job j
                 JOIN project p 
                 ON j.project_no = p.project_no
        WHERE p.project_code = #{projectCode}
	</select>
	
	<!-- 일감 상태 목록-->
	<select id="selectIssueStatus" resultType="IssueDto">
	  SELECT job_status_no
	            , job_status
	  FROM job_status
	  ORDER BY job_status_no 
	</select>
	
	<!-- 일감 유형 목록-->
	<select id="selectIssueType" resultType="IssueDto">
      SELECT job_type_no
	            , job_type
	  FROM job_type
	  ORDER BY job_type_no	
	</select>
	
	<!-- 일감 우선순위 목록 -->
	<select id="selectIssuePriority" resultType="IssueDto">
      SELECT common_no
	            , common_name
	  FROM common
	  WHERE
	    parent_common_no = (
	                                         SELECT common_no 
	                                         FROM common
	                                         WHERE common_name = '우선순위 코드'
	   									   )	
	   ORDER BY common_no
	</select>
	<!-- 일감 담당자 누구를 선택할지 조회 -->
	<select id="selectIssueManager" resultType="IssueDto">
	  SELECT m.user_id
	             , m.username
	  FROM vw_member m
	  JOIN vw_project p
	  ON m.project_no = p.project_no
	  JOIN users u
	  ON m.user_id = u.user_id
	  WHERE p.project_code = #{projectCode}
	  ORDER BY u.username
	</select>
	
	<!-- 상위일감  조회 project와 join-->
	<select id="selectParentIssue" resultType="IssueDto">
	  SELECT j.job_no
                , j.title
	  FROM job j
      JOIN project p
      ON j.project_no = p.project_no
	  WHERE project_code = #{projectCode} 
	</select>
	
    <!-- 일감 등록 기능 -->
	<insert id="insertIssue" parameterType="IssueDto">
		<selectKey keyProperty="jobNo" resultType="Integer" order="BEFORE">
			SELECT JOB_SEQ.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO job (
		job_no,
		title,
		content,
		priority,
		manager_id,
		user_id,
		public_role,
		start_date,
		end_date,
		add_date,
		progress,
		job_type_no,
		job_status_no,
		project_no,
		parent_job_no
		) VALUES (
		#{jobNo},
		#{title},
		#{content},
		#{priority},
		#{managerId},
		#{userId},
		#{publicRole},
		#{startDate},
		#{endDate},
		CURRENT_TIMESTAMP,
		#{progress},
		#{jobTypeNo},
		#{jobStatusNo},
		#{projectNo},
		#{parentJobNo}
		)
	</insert>
	
	<!-- 일감 수정 -->
</mapper>