<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.home.project.mapper.HomeProjectMapper">
	<select id="findProjects" resultType="HomeProjectDto">
		SELECT
		p.project_no AS projectNo, p.project_name AS projectName,
		p.project_desc AS projectDesc,
		p.project_code AS projectCode
		FROM
		project p
		WHERE p.status BETWEEN 330 AND 370
		<if test="!isAdmin">
			AND (
			EXISTS (SELECT 1 FROM vw_member WHERE project_no = p.project_no AND user_id
			= #{userId})
			OR p.public_yn = 1
			)
		</if>
	</select>

</mapper>