<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<th:block th:fragment="BootStrap">
	<!--/* BootStrap5 */-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

	<!-- template -->
    <!-- Main styles for this application-->
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="/coreui/css/vendors/simplebar.css">

    <link rel="stylesheet" href="/coreui/css/style.css" >
    <link rel="stylesheet" href="/coreui/css/examples.css">
    <link rel="stylesheet" href="/coreui/vendors/@coreui/icons/css/free.min.css">
    <link rel="stylesheet" href="/coreui/vendors/@coreui/icons/css/flag.min.css">
    <link rel="stylesheet" href="/coreui/vendors/@coreui/icons/css/brand.min.css">
    
    <script src="/coreui/js/config.js"></script>
    <script src="/coreui/js/color-modes.js"></script>
    <script src="/coreui/js/tooltips.js"></script>
    <script src="/coreui/js/toasts.js"></script>
    <script src="/coreui/js/popovers.js"></script>
	<script src="/coreui/js/colors.js"></script>
	
	<!--/* 
	구현하지않으면 에러를 일으키는 스크립트 비활성화
	<script src="/coreui/js/main.js"></script>
    <script src="/coreui/js/charts.js"></script>
    <script src="/coreui/js/widgets.js"></script>
    */-->
		
	<!--/* csrf */-->
	<meta name="_csrf" th:content="${_csrf?.token}">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
    
    <script th:src="@{/js/project/csrf-setup.js}"></script>
</th:block>
</html>