<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<!-- bootstrap-datepicker -->
<link rel="stylesheet" th:href="@{/css/issue/issueInfo.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />

<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
<title>일감 정보</title>
</head>
<body>
	<div class="container py-4">
		<div class="mb-4 mt-3">
			<!-- #lists.isEmpty는 thymeleaf의 유틸함수 -->
			<h3 class="fw-bold">
				<span th:text="${project.projectName}" class="text-primary"></span>
			</h3>
		</div>
		<div class="mb-4 mt-3 border-botton pb-3">
			<!-- #lists.isEmpty는 thymeleaf의 유틸함수 -->
			<h3 class="fw-bold">
				<span th:text="${issue.title}" class="text-primary"></span> <small
					class="text-muted">의 상세정보</small>
			</h3>
		</div>

		<div class="row mb-3">
			<!-- 상태 -->
			<div class="col-md-6 mb-3 mb-md-0">
				<label class="form-label fw-bold"> <i
					class="bi bi-info-circle me-1"></i>일감 상태
				</label>
				<div class="view-control shadow-sm" th:text="${issue.jobStatus}"></div>
			</div>
			<!-- 유형 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">일감 유형</label>
				<div class="view-control shadow-sm" th:text="${issue.jobType}"></div>
			</div>
		</div>
		<!-- 상세 설명 -->
		<div class="mb-3">
			<label class="form-label fw-bold">상세 설명</label>
			<div class="view-control view-textarea shadow-sm"
				th:text="${issue.content}"></div>
		</div>

		<div class="row mb-3">
			<!-- 우선순위 -->
			<div class="col-md-6 mb-3 mb-md-0">
				<label class="form-label fw-bold">우선순위</label>
				<div class="view-control shadow-sm" th:text="${issue.priorityName}"></div>
			</div>
			<!-- 담당자 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">담당자</label>
				<div class="view-control shadow-sm" th:text="${issue.managerId}"></div>
			</div>
		</div>

		<div class="row mb-3">
			<!-- 시작일 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">시작일</label>
				<div class="view-control shadow-sm"
					th:text="${issue.startDate != null ? #dates.format(issue.startDate, 'yyyy-MM-dd') : '-'}"></div>
			</div>
			<!-- 마감일 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">마감일</label>
				<div class="view-control shadow-sm"
					th:text="${issue.endDate != null ? #dates.format(issue.endDate, 'yyyy-MM-dd') : '-'}"></div>
			</div>
		</div>

		<div class="row mb-3">
			<!-- 상위일감 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">상위 일감</label>
				<div class="view-control shadow-sm" th:text="${issue.parentJobNo}"></div>
			</div>
			<!-- 진척도 -->
			<div class="col-md-6">
				<label class="form-label fw-bold">진척도</label>
				<div class="view-control shadow-sm bg-white"
					th:text="${issue.progress + '%'}"></div>
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<!-- 첨부파일 -->
			<div class="col-md-6">
				<label for="formFile" class="form-label">첨부파일</label> <input
					class="form-control" type="file" id="files" name="files" multiple />
				<!-- 여러개 선택시 첨부파일 이름이 표시 -->
				<ul id="fileList" class="mt-2 list-group">
					<li th:each="file : ${fileList}" th:text="${file.filesName}"
						th:data-no="${file.detailsNo}"></li>
				</ul>
			</div>

			<!-- 공개범위 -->
			<div class="col-md-5 d-flex flex-column justify-content-center">
				<label class="form-label mb-2">공개범위</label>

				<div class="d-flex gap-5">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="publicRole"
							id="public" th:checked="${issue.publicRole == 1}" disabled /> <label
							class="form-chek-label" for="public">전체공개</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="publicRole"
							id="private" th:checked="${issue.publicRole == 0}" disabled /> <label
							class="form-check-label" for="private">일부공개</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row md-5">
			<div class="d-flex gap-2">
				<a
					th:href="@{/project/user/{projectCode}/issue/list(projectCode=${projectCode})}"
					class="btn btn-primary flex-fill"> 일감 조회</a>
			</div>
		</div>

		<!-- form 태그 바깥 부가 기능 영역 Card영역 -->
		<div class="card">
			<div class="card-body">
				<div class="d-flex gap-2 mb-3">
					<button type="button" class="btn btn-secondary" id="historyButton">수정이력</button>
					<button type="button" class="btn btn-secondary" id="commentButton">댓글</button>
				</div>
				<!-- grid 영역 -->
				<div id="subContentArea"></div>
			</div>
		</div>
	</div>
</body>
</html>
