<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<!-- bootstrap-datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
<title>일감 수정</title>
</head>
<body>
	<div class="container">
		<div class="mb-4 mt-3">
			<h3 class="fw-bold">
				<span th:text="${project.projectName}" class="text-primary"></span>
				<small class="text-muted">의 일감 수정</small>
			</h3>
		</div>
		<!-- 일감 수정 form -->
		<form id="issueUpdate"
			th:action="@{/project/user/{projectCode}/issue/update(projectCode=${projectCode})}"
			enctype="multipart/form-data" 
			method="post" 
			th:object=${issue}>
			<!-- 수정은 PutMapping 했음 -->
			<input type="hidden" name="_method" value="PUT">
			<!-- history 테이블에 입력하기 위해 jobNo를 보내줘야 함 -->
			<input type="hidden" th:field="*{jobNo}">
			<!-- 제목 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label class="form-label">제목</label> 
					<input type="text"
						       th:value="${issue.title}" 
						       class="form-control mt-2 shadow-sm" 
						       name="title" />
				</div>
				<!-- 수정사유 작성 comment는 history 테이블에 값 입력-->
				<div class="col-md-6">
					<label class="form-label">수정 사유 작성</label> 
					<input type="text" name="changeComment" class="form-control mt-2 shadow-sm" />
						<div id="commentError" class="form-text text-danger mt-1" style="font-size: 0.85rem;">
        					<i class="bi bi-exclamation-circle me-1"></i>수정 사유는 필수 입력 사항입니다.
    					</div>
				</div>
			</div>
			<!-- 상태 -->
			<!-- th:value는 서버로 보내는 값 th:text는 사용자에게 보여주는 값 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label class="form-label">일감 상태</label> 
					<select class="form-select shadow-sm"
							    name="status" 
							    th:field="*{jobStatusNo}">
						<option value="">선택</option>
						<option th:each="status : ${statusList}"
									th:value="${status.jobStatusNo}" 
									th:text="${status.jobStatus}"></option>
					</select>
				</div>

				<!-- 유형 -->
				<div class="col-md-6">
					<label class="form-label">일감 유형</label> 
					<select class="form-select shadow-sm"
							    name="type"
							    th:field="*{jobTypeNo}">
						<option value="">선택</option>
						<option th:each="type : ${typeList}" 
									th:value="${type.jobTypeNo}"
									th:text="${type.jobType}"></option>
					</select>
				</div>
			</div>

			<!-- 상세 설명 -->
			<div class="mb-3">
				<label class="form-label">상세 설명</label>
				<div class="form-floating">
					<textarea class="form-control shadow-sm" 
									id="floatingTextarea2"
									style="height: 100px" 
									name="content"
									th:field="*{content}"></textarea>
					<label for="floatingTextarea2"></label>
				</div>
			</div>

			<div class="row mb-3">
				<!-- 우선순위 -->
				<div class="col-md-6">
					<label class="form-label">우선순위</label> 
					<select class="form-select shadow-sm"
								name="priority" 
								th:field="*{priority}">
						<option value="">선택</option>
						<option th:each="priority : ${priorityList}"
									th:value="${priority.commonNo}" 
									th:text="${priority.commonName}"></option>
					</select>
				</div>

				<!-- 담당자 -->
				<!-- data-bs-toggle과 target은 Bootstrap5 문법 -->
				<div class="col-md-6">
					<button type="button" 
								 class="btn btn-primary"
								 data-bs-toggle="modal" 
								 data-bs-target="#userSelectModal">담당자 선택</button>
					<input type="text" 
							   class="form-control shadow-sm" 
							   id="managerName"
							   th:value="*{username}"
							   readonly /> 
					<input type="hidden" th:field="*{userId}" id="userId" />
					<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
				</div>
			</div>

			<div class="row mb-3">
				<!-- 시작일 -->
				<div class="col-md-6">
					<label class="form-label">시작일</label>
					<input type="text"
							   class="form-control shadow-sm datepicker" 
							   id="startDate" 
							   name="startDate"
							   th:value="${#dates.format(issue.startDate, 'yyyy-MM-dd')}"
							   readonly />
				</div>

				<!-- 마감일 -->
				<div class="col-md-6">
					<label class="form-label">마감일</label>
					<input type="text"
							  class="form-control shadow-sm datepicker" 
							  id="endDate" 
							  name="endDate"
							  th:value="${#dates.format(issue.endDate, 'yyyy-MM-dd')}" 
							  readonly />
				</div>
			</div>

			<div class="row mb-3">
				<!-- 상위 일감 선택 -->
				<div class="col-md-6">
					<button type="button" 
								 class="btn btn-primary"
								 data-bs-toggle="modal" 
								 data-bs-target="#issueSelectModal">상위일감 선택</button>
					<input type="text" class="form-control shadow-sm" id="jobTitle" readonly />
					<input type="hidden" name="parentJobNo" id="parentJobNo" value="">
				</div>
				
				<!-- 진척도 -->
				<div class="col-md-6">
					<label class="form-label">진척도</label> 
					<select class="form-select shadow-sm"
								name="progress" 
								th:field="*{progress}">
						<option value="">선택</option>
						<option th:each="p : ${#numbers.sequence(0, 10)}"
									th:value="${(p * 10)}" 
									th:text="${(p * 10) + '%'}"></option>
					</select>
				</div>
			</div>

			<div class="row mb-3 align-items-start">
				<!-- 첨부파일 -->
				<div class="col-md-6">
					<label for="formFile" class="form-label">첨부파일</label> 
					<input class="form-control" type="file" id="files" name="files" multiple />
					<!-- 여러개 선택시 첨부파일 이름이 표시 -->
					<div class="border rounded p-2">
						<span>현재 등록된 첨부파일</span>
						<ul id="fileList" class="mt-2 list-group">
							<li th:each="file : ${fileList}"
								 th:data-no="${file.detailsNo}"
								 class="list-group-item d-flex justify-content-between align-items-center shadow-sm">
								 <span th:text="${file.filesName}">파일명</span>
								 	<!-- 첨부파일 삭제 버튼-->
								 <button type="button" class="btn btn-sm btn-danger file-delete-btn">X</button>					
							</li>							
						</ul>		
					</div>
				</div>

				<!-- 공개범위 -->
				<div class="col-md-6 d-flex flex-column justify-content-center">
					<label class="form-label mb-2">공개범위</label>
							<!-- 전체 공개 -->
					<div class="p-2 d-flex gap-4 rounded border shadow-sm">
						<div class="form-check">
							<input class="form-check-input" 
								       type="radio" 
								       name="publicRole"
									   id="public" 
									   value="1"
									   th:checked="${issue.publicRole == '1'}" /> 
							<label class="form-check-label" for="public">전체공개</label>
						</div>
								<!-- 일부 공개-->
						<div class="form-check">
							<input class="form-check-input"
									   type="radio"
									   name="publicRole"
									   id="private"
									   value="0"
									   th:checked="${issue.publicRole == '0'}" /> 
							<label class="form-check-label" for="private">일부공개</label>
						</div>
					</div>
				</div>
			</div>

			<!--  반려를 누르면 일감 담당자에게 "일감 반려되었으니 확인하라는" 알림 전송 
			 		일감의 유형이 반려로 변경 -->
			<!-- 수정버튼 -->
			<div class="row md-3">
				<div class="d-flex gap-2 justify-content-end">
				<a th:href="@{/project/user/{projectCode}/issue/list/read(projectCode=${projectCode})}"
						 class="btn btn-primary">돌아가기</a>					 
				<a th:href="@{/project/user/{projectCode}/issue/work/create(projectCode=${projectCode})}"
						  class="btn btn-primary">소요시간 등록</a>		 
					<button type="button"
								class="btn btn-primary"
								data-bs-toggle="modal" 
								data-bs-target="#issueUpdateModal">수정</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 모달 fragment 호출 ~{템플릿 재사용 fragment 호출 조각 표현식} -->
	<th:block th:replace="~{common/fragments/issue/user-select-modal :: UserSelectModal}"></th:block>
	<th:block th:replace="~{common/fragments/issue/issue-select-modal :: IssueSelectModal}"></th:block>
	<th:block th:replace="~{common/fragments/issue/issue-update-modal :: IssueUpdateModal}"></th:block>
	<!-- script -->	
	<script th:src="@{/js/issue/issue-update.js}"></script>
	<script th:src="@{/js/issue/user-select-modal.js}"></script>
	<script th:src="@{/js/issue/issue-select-modal.js}"></script>
</body>
</html>
