<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default-layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8" />
<!-- bootstrap-datepicker -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
<!-- 1. jQuery = JavaScript 라이브러리-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- 2. bootstrap-datepicker 본체 -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
<!-- 3. 한국어 캘린더-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ko.min.js"></script>
<title>일감 등록</title>
</head>
<body>
	<div class="container">
		<div class="mb-4 mt-3">
			<h3 class="fw-bold">
				<span th:text="${project.projectName}"
						   class="text-primary"></span> 
				<small class="text-muted">의 일감 등록</small>
			</h3>
		</div>
		<!-- 일감 등록 form -->
		<form id="issueInsert"
			th:action="@{/project/user/{projectCode}/issue/create(projectCode=${projectCode})}"
			enctype="multipart/form-data" 
			method="post" 
			th:object="${issue}">
			<!-- 제목 -->
			<div class="mb-3">
				<label class="form-label">제목 *</label> 
				<input type="text"
					class="form-control mt-2 shadow-sm" 
					name="title" 
					placeholder="제목을 입력하세요"
					th:field=*{title} />
				<!-- 유효성 검사시 에러 메세지 출력되는 곳 -->
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			</div>

			<!-- 상태 -->
			<!-- th:value는 서버로 보내는 값 th:text는 사용자에게 보여주는 값 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label class="form-label">일감 상태 *</label> 
					<select class="form-select shadow-sm" 
								th:field="*{jobStatusNo}" 
								name="jobStatusNo">
						<option value="">선택</option>
						<option th:each="status : ${statusList}"
								  	 th:text="${status.jobStatus}" 
								  	 th:value="${status.jobStatusNo}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('jobStatusNo')}" th:errors="*{jobStatusNo}"></div>
				</div>

				<!-- 유형 -->
				<div class="col-md-6">
					<label class="form-label">일감 유형 *</label> 
					<select class="form-select shadow-sm"
							    th:field="*{jobTypeNo}"
							    name="jobTypeNo">
						<option value="">선택</option>
						<option th:each="type : ${typeList}"
									th:text="${type.jobType}"
									th:value="${type.jobTypeNo}">
						</option>
					</select>
					<div th:if="${#fields.hasErrors('jobTypeNo')}" th:errors="*{jobTypeNo}"></div>
				</div>
			</div>

			<!-- 상세 설명 -->
			<div class="mb-3">
				<label for="content" class="form-label">상세 설명</label>
					<textarea class="form-control shadow-sm" 
								   placeholder="상세 설명을 입력하세요"
								   id="content" 
								   style="height: 100px; resize: none;"
								   name="content"></textarea>
			</div>
			
			<!-- 우선순위 -->
			<div class="row mb-3">
				<div class="col-md-6">
					<label class="form-label">우선순위 *</label> 
					<select class="form-select shadow-sm" 
							   	th:field="*{priority}"
							    name="priority">
						<option value="">선택</option>
						<option th:each="priority : ${priorityList}"
								     th:value="${priority.commonNo}" 
								     th:text="${priority.commonName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('priority')}"
						    th:errors="*{priority}"></div>
				</div>

				<!-- 담당자 -->
				<!-- data-bs-toggle과 target은 Bootstrap5 문법 -->
				<div class="col-md-6">
					<button type="button" 
								 class="btn btn-primary"
								 data-bs-toggle="modal" 
								 data-bs-target="#userSelectModal">담당자 선택 *</button>
					<input type="text" 
							   class="form-control shadow-sm" 
							   id="managerName"
							   readonly /> 
					<input type="hidden" th:field="*{userId}" id="userId" />
					<div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
				</div>
			</div>

			<div class="row mb-3">
				<!-- 시작일 -->
				<div class="col-md-6">
					<label class="form-label">시작일</label>
					<input type="text"
							   class="form-control shadow-sm datepicker" 
							   id="startDate" 
							   name="startDate"
							   placeholder="시작 날짜 선택" 
							   readonly />
				</div>

				<!-- 마감일 -->
				<div class="col-md-6">
					<label class="form-label">마감일</label>
					<input type="text"
							   class="form-control shadow-sm datepicker" 
							   id="endDate" 
							   name="endDate"
							   placeholder="마감 날짜 선택" 
							   readonly />
				</div>
				<!-- 프로젝트 기간을 벗어날 수 없도록  -->
				<input type="hidden" id="projectStartDate" th:value="${#dates.format(project.startDate, 'yyyy-MM-dd')}">
				<input type="hidden" id="projectEndDate" th:value="${#dates.format(project.endDate, 'yyyy-MM-dd')}">
			</div>

			<div class="row mb-3">
				<!-- 상위 일감 선택 -->
				<div class="col-md-6">
					<button type="button" 
								class="btn btn-primary"
								data-bs-toggle="modal" 
								data-bs-target="#issueSelectModal">
								상위일감 선택
					</button>
					<input type="text" class="form-control shadow-sm" id="jobTitle" readonly />
					<input type="hidden" name="parentJobNo" id="parentJobNo" value="">
				</div>

				<!-- 진척도 -->
				<div class="col-md-6">
					<label class="form-label">진척도</label> 
					<select class="form-select shadow-sm" name="progress">
						<option value="">선택</option>
						<option th:each="p : ${#numbers.sequence(0, 10)}"
									th:value="${p * 10}" 
									th:text="${(p * 10) + '%'}"
									th:selected="${p == 0}"></option>
					</select>
					<div class="form-text text-muted">처음 등록하는 일감인 경우 진척도를 0으로 기본 설정됩니다</div>
				</div>
			</div>

			<div class="row mb-3 align-items-center">
				<!-- 첨부파일 -->
				<div class="col-md-6">
					<label for="formFile" class="form-label">첨부파일</label> 
					<!-- input type="file"은 value 속성이 없어도 잘 전달이 된다
					왜냐하면 file 그 자체를 담아야 하기 때문에 
					form 제출시 enctype="multipart/form-data 가 type="file"을 찾는다 
					그 file 속성안의 실제 파일들을 꺼내서 HTTP Body에 담아서 전송-->
					<input class="form-control shadow-sm" type="file" id="files" name="files" multiple />
					<!-- 여러개 선택시 첨부파일 이름이 표시 -->
					<ul id="fileList" class="mt-2 list-group"></ul>
				</div>

				<!-- 공개범위  1이면 전체   0이면 일부공개-->
				<div class="col-md-5 d-flex flex-column justify-content-center">
					<label class="form-label mb-2">공개범위 *</label>
					<div class="p-2 d-flex gap-4 rounded border shadow-sm">
						<div class="form-check">
							<input class="form-check-input" 
									   type="radio" 
									   id="public"
									   value="1" 
									   th:field="*{publicRole}" /> 
							<label class="form-check-label" for="public">전체공개</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" 
									   type="radio"
									   th:field="*{publicRole}"
								 	   id="private"
								 	   value="0" /> 
							<label class="form-check-label" for="private">일부공개</label>
						</div>
					</div>
					<div th:if="${#fields.hasErrors('publicRole')}" th:errors="*{publicRole}"></div>
				</div>
			</div>

			<!-- 전송 -->
			<div class="mt-4 mb-5">
				<div class="d-flex gap-2 justify-content-end">
					<a th:href="@{/project/user/{projectCode}/issue/list/read(projectCode=${projectCode})}"
						 class="btn btn-primary">돌아가기</a>
					<button type="button" 
								 class="btn btn-primary"
							     data-bs-toggle="modal" 
							     data-bs-target="#issueSubmitModal">등록</button>
				</div>
			</div>
		</form>
	</div>

	<!-- 모달 fragment 호출 ~{템플릿 재사용 fragment 호출 조각 표현식} -->
	<th:block th:replace="~{common/fragments/issue/user-select-modal :: UserSelectModal}"></th:block>
	<th:block th:replace="~{common/fragments/issue/issue-select-modal :: IssueSelectModal}"></th:block>
	<th:block th:replace="~{common/fragments/issue/issue-submit-modal :: IssueSubmitModal}"></th:block>

	<script th:src="@{/js/issue/issue-insert.js}"></script>
	<script th:src="@{/js/issue/user-select-modal.js}"></script>
	<script th:src="@{/js/issue/issue-select-modal.js}"></script>
	<script th:src="@{/js/issue/issue-submit-modal.js}"></script>
</body>
</html>
